@import ~sass/variables

\:host ::ng-deep 
    .error 
        color: $error
        font-weight: bold
        margin: 10px 0
        font-size: 0.75em 
    h1 
        margin: 0 0 50px
        font-size: 1.8em
        font-weight: bold
        text-align: center
    .submit 
        cursor: pointer
        outline: 0
        border: none
        border-radius: 500px
        font-size: 1em
        font-weight: bold
        background: $blue
        box-shadow: 0px 5px 19px -8px $blue-shadow
        color: #fff
        padding: 10px 60px
        transition: all 0.2s ease-in-out
        &:hover 
            transform: scale(1.1)
            box-shadow:  0px 5px 25px -8px $blue-shadow
    .delete
        background: none
        color: $error
        font-weight: normal
        font-size: 0.8em
        cursor: pointer
        border: none

.profile-form
    background: #fff
    box-shadow: 0px 29px 28px -19px $white-shadow
    border-radius: 10px
    width: 350px
    margin: calc(100px + #{$top-margin}) auto 0 auto
    padding: 50px 50px

.buttonText
    color: $dark4
    font-weight: bold
    width: 50%
    margin: 20px auto
    text-align: center
    font-size: .85em

.username-label
    color: $dark3 
    position: relative
    display: block
    margin-top: 30px 
    &:after 
        content: ''
        position: absolute
        bottom: 0
        left: 0%
        height: 2px
        width: 0px
        visibility: hidden
        background-color: $blue
        transition: .2s ease all
    &.isFocused   
        &:after 
            visibility: visible
            width: 100%
    input 
        outline: none
        border: none
        margin: 0
        padding: 5px 0
        width: 100%
        border-bottom: solid 1px $dark4  
        color: $dark1 
        &:-webkit-autofill
            -webkit-box-shadow: 0 0 0px 1000px white inset
            -webkit-text-fill-color: inherit !important   

.button-cont
    text-align: center
    margin-top: 30px   
 
.pic-upload
    position: relative
    width: 100px
    height: 100px
    margin: 0 auto
    color: $dark3 
    box-shadow: 0px 5px 35px -5px $white-shadow
    transition: all 0.2s ease-in-out
    border-radius: 100px
    padding: 5px
    
    &:hover,&.hovering 
        transform: scale(1.1)
        box-shadow: 0px 5px 40px -5px $white-shadow
    input
        cursor: pointer
        opacity: 0
        top: -20px
        left: 0
        position: absolute
        width: 100%
        height: calc(100% + 20px)
    & .image 
        width: 100%
        height: 100%
        border-radius: 100%
        background-repeat: no-repeat
        background-position: center
        background-size: cover

.no-btn-style
    margin-top: 10px
    padding: 10px
    font-weight: bold
    font-size: 0.8em
    cursor: pointer
    border: none
    border-radius: 20px

.confirm
    background: $error
    color: white
.cancel
    background: $dark4
    color: $dark1



    
  
