@import ~sass/variables

.emoji
    background: #fff
    box-shadow: 0px 8px 15px -5px $white-shadow
    border-radius: 10px
    width: 225px
    max-height: 220px
    padding: 15px 0 0 0
    overflow-y: scroll
    position: absolute
    top: -210px
    right: 103px
    font-size: 1.5em
    text-align: center
    p 
        display: inline-block
        cursor: pointer
        margin: 0
        &:last-child
            margin-bottom: 15px

