@import ~sass/checkbox



.options-panel
    background: #fff
    box-shadow: 0px 29px 28px -19px $white-shadow
    border-radius: 50px
    padding: 0 10px
    display: flex
    align-items: center
    justify-content: space-around
    position: absolute
    margin: auto
    top: 0
    left: 100px
    bottom: 0
    width: 250px
    height: 83px
    transition: transform 0.3s ease-in-out
    @media screen and (max-width: $first-break) 
        padding: 10px 0
        flex-direction: column
        top: 220px
        left: 0
        width: inherit
        height: 150px
    &.hovering
        transform: scale(1.15)
        *
            pointer-events: none
    img
        width: 30px
        margin: 0 20px
        cursor: pointer
        @media screen and (max-width: $first-break) 
            width: 25px

.image-box
    position: relative
    input
        cursor: pointer
        position: absolute
        opacity: 0
        width: 40px
        top: -25px
        height: 60px
        right: 15px
        @media screen and (max-width: $first-break) 
            top: 0
            height: 40px
    img
        vertical-align: middle
        width: 35px
        @media screen and (max-width: $first-break) 
            width: 25px