@import ~sass/variables

.checkmark
    width: 100%
    border-radius: 50%
    display: block
    stroke-width: 6
    stroke: #fff
    stroke-miterlimit: 10
    box-shadow: inset 0px 0px 0px $blue
    stroke-linecap: round
    transition: box-shadow 0.4s ease-out 
    stroke-linejoin: round
    &.checked
        box-shadow: inset 0px 0px 0px 25px $blue
        path
            stroke-dashoffset: 0

.checkmark__check
    transform-origin: 50% 50%
    stroke-dasharray: 48
    stroke-dashoffset: 50
    transition: stroke-dashoffset 0.4s ease-out

.checkmark__circle
    stroke: initial