@import ~sass/variables

*
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    &:before,
    &:after 
        box-sizing: border-box
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
    &:focus
        outline: none
    
html,
body 
    height: 100%
    width: 100%
    margin: 0
    padding: 0

    -webkit-font-smoothing: antialiased
    font-family: 'Source Sans Pro', sans-serif
    color: $dark1
    overflow: hidden
    

a 
    text-decoration: none
    outline: 0
    
p   
    display: inline