$green: #46F6BD
$blue: #35C2F8
$dark1: #4B5764
$dark2: #8699AC
$dark3: #CCD6E0
$dark4: #EAEFF5
$error: #FF477A
$body: #F8FAFC
$white-shadow: rgba(81,132,187,.08)
$blue-shadow: rgba(110,187,255,1)
$top-margin: 70px
$bottom-margin: 74px
$first-break: 1000px

=placeholder($color)
  &::-webkit-input-placeholder 
      color: $color
  &::-moz-placeholder   
      color: $color
  &::-moz-placeholder       
      color: $color
  &::-ms-input-placeholder 
      color: $color   
  
