@import ~sass/variables



.input-bar
    width: 100%
    position: fixed
    left: 0
    bottom: 0
    min-height: 70px 
    background: white
    box-shadow: 0px 19px 28px 19px $white-shadow
    display: flex
    align-items: center
    padding: 10px 0

.text-area
    height: 100%
    width: 50%
    border: none
    display: block
    margin: 0 auto
    color: $dark1
    font-weight: bold
    font-size: 1.2em
    resize: none
    cursor: text
    &:before
        color: $dark3
    @media screen and (max-width: $first-break) 
        margin: 0
        font-size: 1em

.button-containers
    position: absolute
    top: 0
    right: 0
    display: inline-flex
    align-items: center
    justify-content: flex-end
    width: 200px
    height: 100%
    margin-right: 40px
    img    
        height: 30px
        cursor: pointer
        margin-right: 30px
        @media screen and (max-width: $first-break) 
            margin-right: 15px
            height: 20px
        &:last-child
            margin-right: 0px
    @media screen and (max-width: $first-break) 
        margin-right: 20px
        font-size: 1em

.image-input
    margin-top: 5px
    margin-right: 30px
    @media screen and (max-width: $first-break) 
            margin-right: 15px
    input
        cursor: pointer
        position: absolute
        height: 55px
        width: 30px
        opacity: 0
        top: -5px


  
.loadingImage 
    width: 50px
    &.hidden
        opacity: 0