@import ~sass/variables

\:host ::ng-deep 
  .error 
    color: $error
    font-weight: bold
    margin: 10px 0
    font-size: 0.75em
  
  h1 
    margin: 0 0 50px
    font-size: 1.8em
    font-weight: bold
    text-align: center
  
  button 
    cursor: pointer
    outline: 0
    border: none
    border-radius: 500px
    font-size: 1em
    font-weight: bold
    &:disabled 
      opacity: 0.4
      cursor: not-allowed
     
  a 
    display: block
    text-align: center
    color: $dark3
    font-size: 0.75em
  .actionBtn
      background: $blue
      box-shadow: 0px 5px 19px -8px $blue-shadow
      color: #fff
      padding: 10px 60px
      transition: all 0.2s ease-in-out
      &:hover 
        transform: scale(1.1)
        box-shadow:  0px 5px 25px -8px $blue-shadow

.auth-form 
  background: #fff
  box-shadow: 0px 29px 28px -19px $white-shadow
  border-radius: 10px
  width: 350px
  margin: calc(100px + #{$top-margin}) auto 0 auto
  padding: 50px 50px
  &__button 
    text-align: center
    margin-top: 30px   
  &__toggleLink 
    margin: 10px
  label
    color: $dark3 
    position: relative
    display: block
    margin-top: 30px 
    &:after 
          content: ''
          position: absolute
          bottom: 0
          left: 0%
          height: 2px
          width: 0px
          visibility: hidden
          background-color: $blue
          transition: .2s ease all
    &.isFocused   
      &:after 
        visibility: visible
        width: 100%
  input 
    outline: none
    border: none
    margin: 0
    padding: 5px 0
    width: 100%
    border-bottom: solid 1px $dark4  
    color: $dark1 
    &:-webkit-autofill
        -webkit-box-shadow: 0 0 0px 1000px white inset
        -webkit-text-fill-color: inherit !important   
  &__divider
    border-bottom: solid 1px $dark4
    opacity: 0.5   
    margin: 20px auto 0 auto
    width: 60%
  &__google
    margin-top: 25px
    text-align: center
    button
      color: $dark3 
      display: inline-flex
      align-items: center
      background: none
      box-shadow: 0px 5px 25px -8px $white-shadow
      padding: 10px 20px
      transition: all 0.2s ease-in-out
      &:hover 
        transform: scale(1.1)
        box-shadow: 0px 5px 25px -8px $white-shadow
      img 
        width: 20px
        margin-right: 10px




    
  
