@import ~sass/variables

.wrapper
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    padding: $top-margin 0 0 0

.spacer
    margin: 70px 50px

.complete-goal-list
    width: 100%
    height: 100%
    padding: 0 25%
    overflow-y: scroll
    margin: 0 auto
    @media screen and (max-width: $first-break)
        padding: 0

.dayHeader
    color: $dark3
    font-weight: bold
    margin: 40px 0 0 0
    animation: fade .5s 
    &.hasBG
        color: white
        text-shadow: 0 0 10px rgba(0,0,0,0.4)

@keyframes fade
  0%
    opacity: 0

  100%
    opacity: 1
