@import ~sass/checkbox


.cont
    transition: 0.3s ease-in-out
    padding: 20px 0
    max-height: 110px
    &.delete
        max-height: 0
        opacity: 0
        padding: 0  

.goal
    background: #fff
    box-shadow: 0px 29px 28px -19px $white-shadow
    border-radius: 50px
    width: 100%
    padding: 15px 25px
    font-weight: bold
    color: $dark2
    display: flex
    align-items: center
    font-size: 1.15em
    position: relative
    opacity: 0
    transform:  translateX(-75px)
    transition: 0.3s ease-in-out
    @media screen and (max-width: $first-break) 
        padding: 10px 15px
        font-size: 0.8em
    &:hover
        & .ellipsis
            img
                opacity: 1
    &.active
        opacity: 1
        transform:  translateX(0)
    

.checkCont
    flex-shrink: 0
    display: inline-block
    position: relative
    width: 40px 
    border-radius: 100px
    cursor: pointer
    margin-right: 20px
    box-shadow: inset 0 0 0 2px $dark4

.text
    flex-grow: 1
    word-break: break-all

svg 
    background-size: contain          
            
.ellipsis
    cursor: pointer
    padding: 15px 0 
    margin-left: 20px
    img
        width: 35px
        opacity: 0
        transition: opacity 0.3s ease-in-out

.options
    position: relative

.goal-image-icon
    img
        cursor: pointer
        width: 35px
        vertical-align: middle

.goal-image
    position: absolute
    right: -20px
    top: 0;
    transform: translateX(100%)
    img
        max-width: 300px
        max-height: 300px
        border-radius: 20px
        box-shadow: 0px 29px 28px -19px $white-shadow
.goal-time
    span
        cursor: pointer
        color: white
        background-color: $dark1
        padding: 5px 10px
        border-radius: 50px
        margin-left: 20px
        &.active
            background-color: $blue