@import ~sass/checkbox


.timer-warning
    color: white
    position: absolute
    top: $top-margin
    left: 50%
    background-color: $error
    padding: 10px 20px
    border-radius: 0 0 20px 20px
    font-weight: bold
    transform: translate(-50%, -50px)
    transition: transform 0.5s ease-in-out
    @media screen and (max-width: $first-break) 
        top: 0
    &.show
        transform: translate(-50%, 0)
        @media screen and (max-width: $first-break) 
            top: 70px

.loading
    position: fixed
    top: 50%
    left: 50%
    height: 100px
    width: 100px
    transform: translate(-50%)
    font-size: 5em
    background-image: url("/img/loadingDarkSmall.svg")
    background-position: center
