@import ~sass/variables
.scroll-modal
    position: absolute
    top: 47px
    right: 0
    height: 300px
    width: 200px
    padding: 15px
    overflow-y: scroll
    background: white
    border-radius: 0 0 0 10px
    box-shadow: 0px 10px 28px -10px rgba(107, 129, 150, 0.1)

.imageContDef
    height: 75px
    margin: 10px
    text-align: center
    vertical-align: middle
    line-height: 75px
    color: $dark3
    border-radius: 10px
    background-color: $body
    font-weight: bold
    font-size: 1.2em
    cursor: pointer
.imageCont
    height: 75px
    margin: 10px 0
    position: relative
    text-align: center
.image
    height: 100%
    border-radius: 10px
    z-index: 1
    position: relative
    cursor: pointer
.loading
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 30px
