@import ~sass/variables

.wrapper
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    padding: $top-margin 0 $bottom-margin 0
    &.noBar
        padding: $top-margin 0 0 0
    

.spacer
    margin: 70px 50px
    @media screen and (max-width: $first-break) 
        margin: 50px 0

.my-goals-list
    width: 100%
    height: 100%
    padding: 0 25%
    overflow-y: scroll
    margin: 0 auto
    @media screen and (max-width: $first-break) 
        padding: 0 10%

