@import ~sass/variables

.wrapper
    height: 100vh
    display: flex
    @media screen and (max-width: $first-break) 
        display: block

.user-panel
    width: 100%
    max-height: 100%
    overflow-y: scroll
    padding: 70px 0 70px 17%
    margin: auto 0
    @media screen and (max-width: $first-break) 
        overflow-y: hidden
        overflow-x: hidden
        display: flex
        justify-content: center
        padding: 70px 0 70px 0

.image-cont
    margin: 30px 0
    height: 65px
    width: 65px
    box-shadow:  0 4px 17px 1px rgba(63, 69, 76, 0.31)
    border-radius: 100%
    background-color: white 
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    transition: 0.3s ease-in-out 
    cursor: pointer
    position: relative
    @media screen and (max-width: $first-break)
        margin: 15px 10px
        height: 40px
        width: 40px
    &:after
        border-radius: 100%
        transition: 0.3s ease-in-out
        content: ''
        position: absolute
        top: -1px
        left: -1px
        height: 102%
        width: 102%
        border: 3px solid  rgba(255,255, 255, 0)
        @media screen and (max-width: $first-break)    
            border: 1px solid  rgba(255,255, 255, 0)
    &:hover, &.active
        transform: scale(1.3)
        &:after
            @media screen and (max-width: $first-break)    
                border: 1px solid rgba(255,255, 255, 1)  
            border: 3px solid rgba(255,255, 255, 1)  
    &:hover
        & .userName
            opacity: 1
    
   
.userName
    box-shadow:  0 4px 17px 1px $white-shadow
    background-color: white
    border-radius: 50px
    color: $dark2
    font-weight: bold
    position: absolute
    white-space: nowrap
    padding: 10px 15px
    font-size: .9em
    top: 20%
    right: 80px
    opacity: 0
    transition: 0.3s ease-in-out 
    @media screen and (max-width: $first-break)
        display: none