@import ~sass/variables
@import ~sass/checkbox


  
.app-header 
  position: fixed
  width: 100%
  top: 0
  left: 0
  background: #fff
  box-shadow: 0px 19px 28px -19px $white-shadow
  display: flex
  justify-content: space-between
  padding: 5px 30px
  height: 70px
  z-index: 1


 

.logoCont
    justify-content: flex-start
    width: 33%
    a
        height: 100%
        display: inline-flex
        align-items: center
    img 
        height: 100% 
        cursor: pointer
        @media screen and (max-width: $first-break) 
            height: 60%

.flexCont
    height: 100%
    width: 33%
    margin: auto
    display: inline-flex
    align-items: center

.svgCont
    height: 100%
    position: relative
    display: flex
    align-items: center
    & .activeColor
        opacity: 0
    &:hover,&.active
        & .activeColor
            opacity: 1
    a
        display: flex
        align-items: center
    img
        position: absolute
        transform: translateX(-50%)
        height: 100%
        cursor: pointer
        transition: 0.25s ease-in-out opacity
        @media screen and (max-width: $first-break) 
            height: 60%


.navCont
    justify-content: space-between
    padding: 0 8%
    @media screen and (max-width: $first-break) 
        padding: 0 5%
    a
        display: flex
        align-items: center
        height: 35px
        &:nth-child(2)
            height: 40px


.settingsCont
    height: 25px
    justify-content: space-between
    padding-left: 20%
    padding-right: 25px 
    @media screen and (max-width: $first-break) 
        padding-right: 0 
        padding-left: 15%





