@import ~sass/variables

.date-controls
    margin: 0 auto 30px auto
    width: 450px
    display: flex
    align-items: center
    justify-content: space-between
    font-weight: bold
    font-size: 1.4em
    color: $dark2
    @media screen and (max-width: $first-break)
        width: inherit
        font-size: 1.2em
    &.hasBG
        color: white
        text-shadow: 0 0 10px rgba(0,0,0,0.4)
button
    background: white
    border: none
    padding: 20px
    height: 50px
    width: 50px
    border-radius: 50px
    background-image: url(/img/leftArrow.svg)
    background-repeat: no-repeat
    background-position: center
    background-size: 12px
    box-shadow: 0px 10px 20px -5px $white-shadow
    cursor: pointer
    &:last-child
        transform: rotate(180deg)
        box-shadow: 0px -10px 20px -5px $white-shadow
        
