@import ~sass/variables




  
.messages-list
    position: relative
    margin-top: $top-margin
    padding: 30px 26%
    overflow-x: hidden
    overflow-y: scroll
    height: calc(100vh - #{$top-margin + $bottom-margin})
    @media screen and (max-width: $first-break) 
        padding: 30px 10%


.message-section
    width: 100%
    text-align: left
    display: flex
    flex-direction: column
    &:last-child
        margin-bottom: 50px

.message
    position: relative
    align-self: flex-start
    display: inline-flex
    align-items: center
    margin: 20px 0
    border-radius: 25px
    max-width: 400px
    padding: 15px
    animation: fromLeft .3s 
    &.own
        animation: fromRight .3s 
        align-self: flex-end
        & .profile-pic
            display: none
    @media screen and (max-width: $first-break) 
        padding: 10px

 
@keyframes fromLeft
  0%
    transform: translateX(-70px)
    opacity: 0

  100%
    transform: translateX(0)
    opacity: 1

@keyframes fromRight
  0%
    transform: translateX(70px)
    opacity: 1

  100%
    transform: translateX(0)
    opacity: 1


.profile-pic 
    height: 50px
    width: 50px
    position: absolute
    left: -75px
    top: 0
    box-shadow:  0 4px 17px 1px $white-shadow
    border-radius: 100%
    background-color: white 
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    cursor: pointer
    &:hover
        & .userName
            opacity: 1
    @media screen and (max-width: $first-break) 
        height: 25px
        width: 25px
        left: -35px
        top: 10px

.text
    background-color: white
    box-shadow:  0 4px 17px 1px $white-shadow
    font-weight: bold
    &.own
        background-color: $blue
        box-shadow:  0px 3px 15px -2px $blue-shadow
        color: white
    @media screen and (max-width: $first-break) 
        margin-left: 20px
    
.image
    min-width: 50px

.main-image 
    background-color: white
    box-shadow:  0 4px 17px 1px $white-shadow
    width: 100%;
    border-radius: 25px

.readPopup
    cursor: pointer
    position: fixed
    bottom: 100px
    left: 20px
    height: 60px
    width: 60px
    border-radius: 50%
    background-color: white
    background-image: url(/img/scrollDown.png)
    background-repeat: no-repeat
    background-position: center
    background-size: 35px;
    box-shadow:  0 4px 17px 1px $white-shadow
    @media screen and (max-width: $first-break) 
        height: 40px
        width: 40px
        background-size: 25px;

.userName
    box-shadow:  0 4px 17px 1px $white-shadow
    background-color: white
    border-radius: 50px
    color: $dark2
    font-weight: bold
    position: absolute
    white-space: nowrap
    padding: 10px 15px
    font-size: .9em
    top: 20%
    right: 80px
    opacity: 0
    transition: 0.3s ease-in-out 