@import ~sass/variables
\:host 
  width: 100%

.wrapper 
  margin: 0 auto

  
.bg
  position: fixed
  height: 100vh
  width: 100vw
  top: 0
  left: 0
  z-index: -1
  background-repeat: no-repeat
  background-size: cover
.bgAlways
  background-color: $body
  position: fixed
  height: 100vh
  width: 100vw
  top: 0
  left: 0
  z-index: -2
